@font-face {
  font-family: "Fredoka";
  src: url("/fonts/FredokaOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-color1: #ffdc8b;
  --main-color2: #7c4628;
  --main-color3: #f8edd0;
  --main-color4: #ffffff;
}
